.img{
	width: 50%;
	height: 100px;
	float: left;
}
.img1{
	width: 100%;
	height: 100px;
	background-image: url(http://jiac.oss-cn-beijing.aliyuncs.com/project/85D2906B164ABF50132ABD5F596C2CB3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
}
.img2{
	width: 100%;
	height: 100px;
	background-image: url(http://jiac.oss-cn-beijing.aliyuncs.com/project/E3A7445FCECD89DCB43C4865D2463762.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	float: left;
}